{% extends "layout.html" %} 
{% block container %} 
{% import "_macros.html" as macros %}

<div class="relative bg-neutral-primary-soft max-w-xs w-full p-6 border border-default rounded-base shadow-xs rise" style="margin: 100px auto;">
  
  <button
    id="dropdownButton"
    onclick="document.getElementById('dropdown').classList.toggle('hidden')"
    class="absolute top-2 end-2 text-body hover:text-heading bg-neutral-primary-soft box-border border border-transparent hover:bg-neutral-tertiary focus:ring-4 focus:ring-neutral-tertiary rounded-base p-1.5 focus:outline-none"
    type="button"
  >
    <span class="sr-only">Open dropdown</span>
    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-width="3" d="M6 12h.01m6 0h.01m5.99 0h.01" />
    </svg>
  </button>

  <div id="dropdown" class="z-10 bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-36 absolute right-2 top-12 hidden">
    <ul class="p-2 text-sm text-body font-medium">
      <li><a href="#" class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded-md">Editar</a></li>
      <li><a href="#" class="inline-flex items-center w-full p-2 hover:bg-neutral-tertiary-medium hover:text-heading rounded-md">Exportar</a></li>
      <li><a href="#" class="inline-flex items-center w-full p-2 text-fg-danger hover:bg-neutral-tertiary-medium rounded-md">Eliminar</a></li>
    </ul>
  </div>

  <div class="flex flex-col items-center">
    <img
      class="w-16 h-16 mb-4 rounded-full"
      style="max-width: 64px; max-height: 64px"
      src="{{ url_for('static', filename='img/user.jpg') }}"
      alt="User image"
    />
    
    <h5 class="mb-1 text-xl font-semibold tracking-tight text-heading uppercase text-[10px] opacity-60">ID: {{ inscripcion.id }}</h5>
    <h5 class="mb-1 text-xl font-semibold tracking-tight text-heading">Alumno: {{ inscripcion.alumno.nombre }}</h5>
    <h5 class="mb-4 text-xl font-semibold tracking-tight text-heading">Curso: {{ inscripcion.curso.nombre }}</h5>
    
    <div class="flex mt-4 gap-4 w-full justify-center">
      <a
        href="/inscripciones"
        class="inline-flex items-center justify-center w-full text-body bg-neutral-secondary-medium border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium rounded-base text-sm px-4 py-2.5 transition-colors transition-transform active:scale-95"
      >
        <svg class="w-4 h-4 me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
        </svg>
        Regresar
      </a>
    </div>
  </div>
</div>



{% endblock %}