{% extends "layout.html" %} {% block container%} {% import "_macros.html" as
macros %}

<form
  class="max-w-md mx-auto"
  method="POST"
  action="/inscripciones/agregar"
  style="
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 170px;
  "
  novalidate
>
  {{ form.csrf_token }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  

  <div class="relative z-0 w-full mb-5 group">
    {{ macros.camposNuevos(form.alumno_id, class_="block py-2.5 px-0 w-full
    text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
    focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
    <label
      for="alumno_id"
      class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
      >Alumno</label
    >
  </div>

  <div class="relative z-0 w-full mb-5 group">
    {{ macros.camposNuevos(form.curso_id, class_="block py-2.5 px-0 w-full
    text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
    focus:outline-none focus:ring-0 focus:border-blue-600 peer") }}
    <label
      for="curso_id"
      class="absolute text-sm text-body duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-fg-brand peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto"
      >Curso</label
    >
  </div>

  <div class="grid md:grid-cols-2 md:gap-6"></div>

  <button
    type="submit"
    class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
  >
    Submit
  </button>
  <button
    type="button"
    onclick="window.location.href = '/inscripciones';"
    class="text-gray-500 bg-white box-border border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none"
  >
    Return to list
  </button>
</form>
{%endblock%}
